

# --- File di backup e temporanei ---
*.bak
*.orig
*~
*.tmp

# --- Quartus: File di output e compilazione ---
# Esclude le cartelle pesanti generate durante la sintesi
db/
incremental_db/
#output_files/
greybox_tmp/
hc_output/
hps_isw_software/
simulation/
stp_priv/
.dist/

# --- Quartus: File di stato e database ---
*.qws
*.ppf
*.ddb
*.csv
*.cmp
*.sip
*.spd
*.bsf
*.fsm
*.jdi
*.done
*.rpt
*.smsg
*.dist

# --- Quartus: File di programmazione (opzionale) ---
# commenta queste righe con un #
*.sof
#*.pof
*.ekp
*.jic

# --- Strumenti di Simulazione (ModelSim, Questa, VCS) ---
# Esclude le librerie di compilazione e i database delle onde
work/
msim_transcript
vsim.wlf
*.vstf
*.vsim
*.wlf
transcript
modelsim.ini

# --- Software (Eclipse for NIOS II / Platform Designer) ---
software/
ip/
.qsys_edit/
*.sopcinfo
*.html